* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  background-color: #f1faee;
  position: relative;
}

.contenedor {
  max-width: 1100px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 5px;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
}

.header-bgc {
  background-color: #457b9d;
  padding: 12px;
}

.menu-desplegar, .menu-cerrar {
  color: #f1faee;
  display: none;
}

.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  position: relative;
}

.header-flex .header-flex__logo {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  color: #f1faee;
}

.header-flex .header-flex__logo:hover {
  color: yellow;
  text-shadow: 1px 1px 10px yellow;
}

.header-flex .header-flex__nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #457b9d;
}

.header-flex .header-flex__nav-ul .header-flex__link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 0 4px;
  height: 100%;
  color: #f1faee;
}

.header-flex .header-flex__nav-ul .header-flex__link:hover {
  color: yellow;
  text-shadow: 1px 1px 10px yellow;
}

@media (max-width: 800px) {
  .menu-desplegar, .menu-cerrar {
    display: block;
  }
  .barraNav {
    position: absolute;
    top: -800%;
  }
  .barraNav .header-flex__nav-ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .barraNav .header-flex__nav-ul li {
    padding-top: 20px;
  }
  .barraNav:target {
    z-index: 1;
    top: 0;
    margin: 0;
    width: 100%;
    -webkit-transition: top 0.5s ease-in;
    transition: top 0.5s ease-in;
  }
}

.body-index {
  height: 100%;
  width: 100%;
  background-image: url(../multimedia/coloniaSmartphone2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.claseMain {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 70%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.claseMain .claseMain__p {
  width: 60%;
  margin: 30px;
  background-color: rgba(31, 33, 36, 0.5);
  padding: 20px;
  color: #dad6d8;
  font-size: 32px;
  border-radius: 10px;
}

@media (max-width: 650px) {
  .claseMain .claseMain__p {
    font-size: 26px;
  }
}

.claseMain .claseMain__p .claseMain__strong {
  color: #dad6d8;
  font-size: 32px;
}

@media (min-width: 650px) {
  .body-index {
    background-image: url(../multimedia/coloniaFaro.jpg);
  }
}

.boxVariasFotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  width: 100%;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.boxVariasFotos .imagen {
  position: relative;
  width: 20%;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.boxVariasFotos .imagen:hover {
  width: 100%;
}

@media (max-width: 650px) {
  .boxVariasFotos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .boxVariasFotos .imagen {
    display: block;
    width: 100%;
  }
}

.link {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #f1faee;
  background-color: rgba(69, 123, 157, 0.7);
  border-radius: 4px;
  text-shadow: 2px 2px 10px black;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.8);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.8);
  text-align: center;
}

.link:hover {
  color: yellow;
  text-shadow: 4px 4px 4px black;
}

.link_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20%;
  margin: 0 auto;
}

.tituloConsulta {
  margin-top: 50px;
  font-size: 38px;
  color: #457b9d;
  text-shadow: 1px 1px 10px rgba(47, 49, 56, 0.2);
}

.formulario {
  width: 90%;
  border: none;
  margin: 0 auto;
}

.formulario .casillaForm {
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 90%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 650px) {
  .formulario .casillaForm {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.formulario .casillaForm .casillaForm__espacio {
  width: 45%;
  height: 34px;
  margin: 10px auto 30px auto;
  font-size: 20px;
  background-color: #f1faee;
  color: #696868;
  padding-left: 15px;
  -webkit-box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.3);
  border: none;
}

.formulario .casillaForm .casillaForm__espacio:focus {
  outline: 1px solid #457b9d;
}

@media (max-width: 650px) {
  .formulario .casillaForm .casillaForm__espacio {
    width: 90%;
  }
}

.formulario .casillaCiudadania {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 60%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 10px auto 30px auto;
}

@media (max-width: 650px) {
  .formulario .casillaCiudadania {
    width: 80%;
  }
}

.formulario .casillaCiudadania:focus {
  outline: 1px solid #457b9d;
}

.formulario .casillaCiudadania .casillaCiudadania__espacio {
  width: 45%;
  height: 34px;
  font-size: 20px;
  padding-left: 15px;
  color: #696868;
}

@media (max-width: 650px) {
  .formulario .casillaCiudadania .casillaCiudadania__espacio {
    font-size: 18px;
    padding-left: 2px;
  }
}

.formulario .casillaCiudadania .casillaCiudadania__espacio-casilla {
  background-color: #f1faee;
  border: none;
  -webkit-box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.3);
}

.formulario .casillaCiudadania .casillaCiudadania__espacio-derecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulario .casillaCheck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulario .casillaCheck .casillaCheck__label {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 34px;
  color: #696868;
  font-size: 20px;
}

.formulario .casillaArea {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.formulario .casillaArea .casillaArea__texto {
  width: 80%;
  border-radius: 4px;
  resize: none;
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  padding: 5px;
  font-size: 18px;
}

.formulario .casillaArea .casillaArea__texto:focus {
  outline: 1px solid #457b9d;
}

.formulario .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.formulario .botones .botonForm {
  margin: 0 10px;
  border-radius: 4px;
  background-color: rgba(69, 123, 157, 0.8);
  color: #f1faee;
  padding: 5px;
  border: none;
  -webkit-transition: all;
  transition: all;
}

.formulario .botones .botonForm:hover {
  background-color: #457b9d;
}

.cajasSitios {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  padding: 5px;
  border-radius: 1px;
  margin: 10px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.cajasSitios img {
  width: 100%;
  height: auto;
}

.cajasSitios .titulo_card_sitios {
  width: 100%;
  text-shadow: 1px 1px 5px rgba(69, 123, 157, 0.6);
  color: rgba(69, 123, 157, 0.8);
  margin: 5px 0px;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
}

.cajasSitios:hover {
  -webkit-box-shadow: 1px 1px 10px 1px rgba(69, 123, 157, 0.8);
          box-shadow: 1px 1px 10px 1px rgba(69, 123, 157, 0.8);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.grillaCajasSitios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  /* ajustar menos columnas en mquery*/
  justify-items: center;
}

@media (max-width: 1000px) and (min-width: 671px) {
  .grillaCajasSitios {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 670px) {
  .grillaCajasSitios {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.contenedor-carrusel {
  width: 90%;
  margin: 10px auto;
}

@media (max-width: 670px) {
  .contenedor-carrusel {
    margin: 0 auto;
    width: 98%;
  }
}

.carrusel-fondo__etiqueta {
  display: inline;
  padding: 5px;
  border-radius: 4px;
  color: #457b9d;
  background-color: rgba(241, 250, 238, 0.6);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

@media (max-width: 750px) {
  .carrusel-fondo__etiqueta {
    font-size: 18px;
  }
}

.carrusel-fondo__parrafo {
  display: inline-block;
  padding: 5px;
  margin-top: 10px;
  border-radius: 4px;
  color: #457b9d;
  background-color: rgba(241, 250, 238, 0.6);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

@media (max-width: 750px) {
  .carrusel-fondo__parrafo {
    font-size: 16px;
  }
}

.margen-arriba {
  margin-top: 50px;
}

.banner-hotel {
  background-image: url(../multimedia/almohadas.jpg);
  height: 15vh;
  width: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-hotel h2 {
  font-size: 38px;
  color: #f1faee;
  margin: auto;
  text-shadow: 2px 2px 10px #2f3138;
}

.grilla-cartas-Hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.cajas-cartas-Hotel {
  width: 30%;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 950px) {
  .cajas-cartas-Hotel {
    width: 45%;
  }
}

@media (max-width: 590px) {
  .cajas-cartas-Hotel {
    width: 98%;
  }
}

.cajas-cartas-Hotel img {
  width: 100%;
  height: auto;
  -ms-grid-column-align: center;
      justify-self: center;
}

.cajas-cartas-Hotel p {
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
}

.cajas-cartas-Hotel .titulo_card_hotel {
  width: 100%;
  text-shadow: 1px 1px 5px rgba(69, 123, 157, 0.6);
  color: rgba(69, 123, 157, 0.8);
  margin: 15px 0px;
  font-weight: 100;
  font-size: 40px;
  text-align: center;
}

.cajas-cartas-Hotel .lista-Servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 8px;
}

.cajas-cartas-Hotel .boton-reservar {
  background-color: rgba(69, 123, 157, 0.8);
  color: #f1faee;
  width: 90%;
  padding: 5px;
  margin: 2px auto;
  border: none;
  -webkit-transition: all;
  transition: all;
}

.cajas-cartas-Hotel .boton-reservar:hover {
  background-color: #457b9d;
}

.cajas-cartas-Hotel:hover {
  -webkit-box-shadow: 1px 1px 10px 1px rgba(69, 123, 157, 0.8);
          box-shadow: 1px 1px 10px 1px rgba(69, 123, 157, 0.8);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.banner-gastronomia {
  background-image: url(../multimedia/bannerGastronomia.jpg);
  height: 15vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-gastronomia h2 {
  font-size: 38px;
  color: #f1faee;
  margin: auto;
  text-shadow: 2px 2px 10px #2f3138;
}

.grilla-cartas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.cajas-cartas {
  width: 30%;
  margin: 10px auto 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 950px) {
  .cajas-cartas {
    width: 45%;
  }
}

@media (max-width: 590px) {
  .cajas-cartas {
    width: 98%;
    margin: 5px auto;
  }
}

.cajas-cartas:hover {
  -webkit-box-shadow: 1px 1px 10px 1px rgba(69, 123, 157, 0.8);
          box-shadow: 1px 1px 10px 1px rgba(69, 123, 157, 0.8);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.cajas-cartas img {
  width: 100%;
  height: auto;
  -ms-grid-column-align: center;
      justify-self: center;
}

.cajas-cartas .info_gastronomia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.cajas-cartas .info_gastronomia p {
  margin-left: 10px;
}

.cajas-cartas .titulo_card_gastronomia {
  width: 100%;
  color: rgba(69, 123, 157, 0.8);
  margin: 15px 0px;
  font-weight: 100;
  font-size: 40px;
  text-align: center;
}

.banner-playa {
  background-image: url(../multimedia/bannerPlaya.jpg);
  height: 15vh;
  width: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-playa h2 {
  font-size: 38px;
  color: #f1faee;
  margin: auto;
  text-shadow: 2px 2px 10px #2f3138;
}

.grilla-playas {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grilla-playas article {
  width: 45%;
  margin: 20px auto;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-transform .3s, -webkit-box-shadow .3s;
  transition: -webkit-transform .3s, -webkit-box-shadow .3s;
  transition: transform .3s, box-shadow .3s;
  transition: transform .3s, box-shadow .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
}

.grilla-playas article:hover {
  -webkit-box-shadow: 1px 1px 10px 1px rgba(69, 123, 157, 0.8);
          box-shadow: 1px 1px 10px 1px rgba(69, 123, 157, 0.8);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

@media (max-width: 500px) {
  .grilla-playas article {
    width: 98%;
    margin: 20px 0;
  }
}

.grilla-playas article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.grilla-playas article div p {
  text-align: center;
  margin: 5px auto;
  width: 90%;
}

.grilla-playas article div img {
  width: 100%;
  height: auto;
}

.grilla-playas .titulo_card_playas {
  width: 100%;
  text-shadow: 1px 1px 5px rgba(69, 123, 157, 0.6);
  color: rgba(69, 123, 157, 0.8);
  margin: 5px 0px;
  font-weight: 100;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.ajustar {
  width: 80%;
  margin: 10px auto;
}

@media (max-width: 800px) {
  .ajustar {
    margin: 0;
    width: 100%;
  }
}

.contenedor-parrafo {
  max-width: 560px;
  margin-left: 10px;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 90%;
}

.contenedor-video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}

.contenedor-video iframe, .contenedor-video object, .contenedor-video embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.contenedorMapa {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  margin-top: 20px;
}

.contenedorMapa .contenedorMapaIframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.fondo_footer {
  background-color: #354f52;
}

.piePagina {
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.piePagina div {
  font-size: 12px;
  color: #a1a0a0;
  padding: 1px;
}

@media (max-width: 450px) {
  .piePagina div {
    font-size: 8px;
    text-transform: uppercase;
  }
}

.piePagina--absoluta {
  position: absolute;
  bottom: 0px;
}

.cajaPrueba {
  width: 220px;
  height: auto;
  border: 1px solid;
}

.cajaPrueba .boxImagen {
  position: relative;
  width: 220px;
  height: 180px;
  overflow: hidden;
}

.cajaPrueba .boxImagen .imagen1 {
  position: absolute;
  top: 0;
  overflow: hidden;
}

.cajaPrueba .boxImagen .imagen2 {
  position: absolute;
  top: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.cajaPrueba .boxImagen:hover .imagen2 {
  opacity: 1;
}

.miCarrusel {
  width: 70%;
  height: 60vh;
  -webkit-animation-name: carrusel;
          animation-name: carrusel;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  background-size: cover;
}

@-webkit-keyframes carrusel {
  0%, 20% {
    background-image: url(../multimedia/foto1.jpg);
  }
  34%, 53% {
    background-image: url(../multimedia/foto2.jpg);
  }
  67%, 87% {
    background-image: url(../multimedia/foto3.jpg);
  }
  100% {
    background-image: url(../multimedia/foto1.jpg);
  }
}

@keyframes carrusel {
  0%, 20% {
    background-image: url(../multimedia/foto1.jpg);
  }
  34%, 53% {
    background-image: url(../multimedia/foto2.jpg);
  }
  67%, 87% {
    background-image: url(../multimedia/foto3.jpg);
  }
  100% {
    background-image: url(../multimedia/foto1.jpg);
  }
}
/*# sourceMappingURL=estilos.css.map */