.ajustar{
    width: 80%;
    margin: 10px auto;
    @media (max-width:800px){
        margin: 0;
        width: 100%;
    }
}

.contenedor-parrafo{
    max-width: 560px;
    margin-left: 10px;
	margin-top: 50px;
	margin-bottom: 30px;
    width: 90%;
}

.contenedor-video {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
	}
.contenedor-video iframe, .contenedor-video object, .contenedor-video embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	}

.contenedorMapa{
	position: relative;
  	overflow: hidden;
  	width: 100%;
  	padding-top: 56.25%;
	margin-top: 20px;  
	.contenedorMapaIframe{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}
}