.body-index{
    height: 100%;
    width: 100%;
    background-image: url(../multimedia/coloniaSmartphone2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.claseMain{  
    height: auto;
    display: flex;
    flex-direction: row;
    height: 70%;
    align-items: flex-end ;
    justify-content: flex-end;
    .claseMain__p{
        width: 60%;
        margin:30px;
        background-color:rgba(31, 33, 36, 0.5) ;
        padding: 20px;
        color: rgb(218, 214, 216);
        font-size: 32px;
        border-radius: 10px;
        @media(max-width:650px){
            font-size: 26px;
        }
    .claseMain__strong{
        color: rgb(218, 214, 216);
        font-size: 32px;
    }
    }
}

@media (min-width: 650px){
    .body-index{
        background-image: url(../multimedia/coloniaFaro.jpg);
    }
}

.boxVariasFotos{
    display: flex;
    max-width: 1100px;
    width: 100%;
    height: auto;
    justify-content: space-between;
    margin-top: 50px;
    .imagen{
        position: relative;
        width: 20%;
        overflow: hidden;
        transition: all .5s;
        &:hover{
            width: 100%;
        }
        
    }
    @media (max-width: 650px){
        flex-direction: column;
        .imagen{
            display: block;
            width: 100%;
        }
    }
}
.link{
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color: $colorClaro;
    background-color: rgba($colorOscuro, 0.7);
    border-radius: 4px;
    text-shadow: 2px 2px 10px black;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.8);
    text-align: center;
    &:hover{
        color: yellow;
        text-shadow: 4px 4px 4px black;
    }
}
.link_div{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20%;
    margin: 0 auto;
}

.tituloConsulta{
    margin-top: 50px;
    font-size: 38px;
    color: $colorOscuro;
    text-shadow: 1px 1px 10px rgba(47, 49, 56, 0.2);
}
.formulario{
    width: 90%;
    border: none;
    margin: 0 auto;
    .casillaForm{
        margin: 0px auto;
        display: flex;
        flex-flow: row wrap;
        width: 90%;
        justify-content: space-evenly;
        @media (max-width: 650px){
            justify-content: center;
            }
        .casillaForm__espacio{
            width: 45%;
            height: 34px;
            margin: 10px auto 30px auto;
            font-size: 20px;
            background-color: $colorClaro;
            color: rgb(105, 104, 104);
            padding-left: 15px;
            box-shadow: 1px 0px 10px rgba(0,0,0,0.3) ;
            border: none;
            &:focus{
                outline: 1px solid $colorOscuro;
            }
            @media (max-width: 650px){
                width: 90%;
                }
        }
    }
    .casillaCiudadania{
        display: flex;
        flex-flow: row wrap;
        width: 60%;
        justify-content: space-evenly;
        margin: 10px auto 30px auto;
        @media (max-width: 650px){
            width: 80%;
            }
        &:focus{
            outline: 1px solid $colorOscuro;
        }
        .casillaCiudadania__espacio{
            width: 45%;
            height: 34px;
            font-size: 20px;
            padding-left: 15px;
            color: rgb(105, 104, 104);
            @media (max-width: 650px){
                font-size: 18px;
                padding-left: 2px;
                }
        }
        .casillaCiudadania__espacio-casilla{
            background-color: $colorClaro;
            border: none;
            box-shadow: 1px 0px 10px rgba(0,0,0,0.3) ;
        }
        .casillaCiudadania__espacio-derecha{
            display: flex;
            align-items: center;
        }
    }
    .casillaCheck{
        display: flex;
        justify-content: center;
        align-items: center;
        .casillaCheck__label{
            margin-right: 10px;
            display: flex;
            align-items: center;
            height: 34px;
            color: rgb(105, 104, 104);
            font-size: 20px;
        }
    }
    .casillaArea{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        .casillaArea__texto{
            width: 80%;
            border-radius: 4px;
            resize: none;
            box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
            padding: 5px;
            font-size: 18px;
            &:focus{
                outline: 1px solid $colorOscuro;
            }
        }

    }
    .botones{
        display: flex;
        justify-content: center;
        margin-top: 15px;
        .botonForm{
            margin: 0 10px;
            border-radius: 4px;
            background-color: rgba($colorOscuro,0.8);
            color: $colorClaro;
            padding: 5px;
            border: none;
            transition: all;
            &:hover{
                background-color: $colorOscuro;
            }
        }
    }
}